@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat', sans-serif;
	src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}


#wrap {
	width: 100%;
}

header,
section,
footer {
	width: inherit;
}

html {
	scroll-behavior: smooth;
}

/* footer */
footer {
	font-family: 'Pretendard-Regular';
	height: 130px;
	border-width: 2px 0 0 0;
	border-color: #223521;
	border-style: solid;
}

.footerContent {
	width: 1400px;
	height: inherit;
	/* border: 1px solid #000; */
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.footerContent>p,
.footerContent>address {
	font-size: 14px;
	font-weight: 300;
	color: #333;
	line-height: 24px;
}

.footerContent>address {
	font-style: normal;
}

.footerLogo>a>img {
	width: 90px;
	height: 90px;
	margin: 0 56px;
}